
<form class="add-device-type-form">
  <mat-form-field>
    <input matInput [(ngModel)]="tempDeviceType.deviceTypeName" name="Device Type Name" placeholder="Device Type Name" required>
  </mat-form-field>
<div>
  <button mat-stroked-button *ngIf=!!tempDeviceType.deviceTypeName (click)="addDeviceType()">Add Device Type</button>
</div>
</form>