<div *ngIf="!trueUser">
<form class="login-form">
  <mat-form-field class="full-width">
    <input matInput [(ngModel)]= "loginUser.userId" name= "userId" type="number" placeholder="User ID">
  </mat-form-field>

  <mat-form-field class="full-width">
    <input matInput  [(ngModel)]= "loginUser.userPassword" name= "password" placeholder="Password" type="password">
  </mat-form-field>
  <button mat-stroked-button *ngIf=(!!loginUser.userPassword&&!!loginUser.userId)  (click)="login()">Login</button>
</form>
</div>
<!-- <div *ngIf="trueUser">Logged In!</div> -->