<form class="add-device-form">
  <mat-form-field>
    <mat-label>Device Type</mat-label>
    <mat-select [(ngModel)]="tempDevice.deviceType" name="deviceType" required >
      <mat-option  *ngFor="let deviceType of deviceTypes"  [value]="deviceType.deviceTypeId">
        {{deviceType.deviceTypeName}}
      </mat-option>
    </mat-select>
    
  </mat-form-field>

<div>
  <button mat-stroked-button  type="submit" *ngIf=!!tempDevice.deviceType (click)="addDevice()">Add Device</button>
</div>
</form>