<!--The content below is only a placeholder and can be replaced.-->

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a routerLink="/search" mat-flat-button color="primary" >Hardware Inventory System</a>
    
   <a routerLink="/search" mat-flat-button color="primary" >Look Up Device</a>
   <a routerLink="/addDevice"  mat-flat-button color="primary" >Add Device</a>
   <a routerLink="/addDeviceType"  mat-flat-button color="primary" >Add Device Type</a>
    <span class="example-spacer"></span>
    <mat-icon [matMenuTriggerFor]="loginMenu" class="example-icon">account_circle</mat-icon>
    <mat-menu #loginMenu="matMenu">
      <!-- <div *ngIf="userService.loggedIn()">  -->
      <a *ngIf="!userService.loggedIn()" routerLink="/login" mat-menu-item>Login</a>
      <button *ngIf="!userService.loggedIn()" routerLink="/register" mat-menu-item>Sign Up</button>
      <!-- </div> -->
      <!-- <div *ngIf="!userService.loggedIn()""> -->
      <button  *ngIf="userService.loggedIn()" (click)="userService.logoutUser()" mat-menu-item>Sign Out</button>
      <!-- </div>  -->
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>


