


<div *ngIf="device">
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Device Id: {{device.deviceID}}</mat-card-title>
    <mat-card-subtitle>Device Type: {{deviceType.deviceTypeName}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content *ngIf="device.checkedOut">
    <mat-card>Checked Out: {{device.checkedOut}}</mat-card>
    <mat-card>User Id: {{device.userID}}</mat-card>
    <mat-card>Date Checked Out: {{device.checkedOutDate}}</mat-card>
  </mat-card-content>
  <mat-card-actions>
    <button *ngIf="userService.loggedIn() && !device.checkedOut" mat-raised-button (click)="checkOutDevice()">Check Out</button> 
    <button *ngIf="userService.loggedIn() && device.checkedOut && (device.userID == userId || userService.isAdmin() )" mat-raised-button (click)="checkInDevice()">Check In</button>
    <button *ngIf="userService.isAdmin()" mat-raised-button color="warn" (click)="deleteDevice()">Delete</button>
  </mat-card-actions>
</mat-card>
</div>

<div *ngIf="!device">
  <mat-card>Device not found</mat-card>
</div>
<div class="go-back">
<button mat-raised-button (click)="goBack()">go back</button>
</div>