.quarter-width {
    width: 25%;
    height: 30px;
  }
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
div {
  padding-top: 10px
}