<div id="search-component">
  <h4>Device Lookup</h4>

  <input matInput [(ngModel)]="deviceId" class="quarter-width"  type="number" placeholder="Device Id">
</div>
<div><a mat-raised-button color="primary" *ngIf=!!deviceId routerLink="/detail/{{deviceId}}">Search</a></div>