
<form class="register-form">
  <mat-form-field class="full-width">
    <input matInput [(ngModel)]="tempUser.userId" name="SVC Student Id Number" type="number" placeholder="SVC Student Id Number">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput [(ngModel)]="tempUser.userPassword" name="Password" type="password" placeholder="Password">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput [(ngModel)]="tempUser.firstName" name="First Name" placeholder="First Name">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput [(ngModel)]="tempUser.lastName" name="Last Name" placeholder="Last Name">
  </mat-form-field>

  
  <button mat-raised-button color="primary" *ngIf=(!!tempUser.userPassword&&!!tempUser.userId&&!!tempUser.firstName&&!!tempUser.lastName) (click)="register()">Register</button>
</form>